# Dependencies
node_modules/
backend/node_modules/
frontend/node_modules/

# Environment Variables (Security)
.env
backend/.env
frontend/.env

# Local Uploads
backend/uploads/
uploads/

# Build folders
dist/
build/

# IDE settings
.vscode/
.DS_Store